$white-text: #ffffff;
$accent: #2FB95D;
$accentsec: #043A3A;


html,
body {
    overflow-x: hidden;
}

.st-btn {
    padding: 16px;
    border-radius: 100px;

    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    text-decoration: none;

    &-accent {
        @extend .st-btn;
        background-color: $accent;
        color: $white-text;
        border: 2px solid $accent;
        transition: all ease .2s;

        &:hover {
            background-color: transparent;
            color: $accent;
            border: 2px solid $accent;
            transform: scale(.9);
            transition: all ease .2s;
        }

    }

    &-accent-2 {
        @extend .st-btn;
        background-color: $accentsec;
        color: $white-text;
        border: 2px solid $accentsec;
        transform: scale(1);

        &:hover {
            background-color: transparent;
            color: $accentsec;
            border: 2px solid $accentsec;
            transform: scale(.9);
            transition: all ease .2s;
        }
    }

    &-white {
        @extend .st-btn;

        position: relative;
        background: none;
        mix-blend-mode: screen;
        width: 100%;
        border: 2px solid transparent;
        transition: all ease .2s;
        cursor: pointer;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: white;
            border-radius: 100px;
            content: '';
            mix-blend-mode: color-burn;
            transition: all ease .2s;
        }


        &:hover {
            color: $white-text;
            border: 2px solid white;
            transition: all ease .2s;

            &::before {
                background: none;
                transition: all ease .2s;
            }
        }
    }
}

.link {
    font-family: 'Mulish', sans-serif;
    color: $accent;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: underline;

    &-white {
        @extend .link;
        color: $white-text;
    }
}

h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 110px;

    @media screen and (max-width: 1270px) {
        font-size: 72px;
        line-height: 69px;
    }

    @media screen and (max-width: 996px) {
        font-size: 55px;
        line-height: 69px;
    }

    @media screen and (max-width: 767px) {
        font-size: 42px;
        line-height: 44px;
    }
}

h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 67px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;

    @media screen and (max-width: 996px) {
        font-size: 50px;
        line-height: 60px;
    }

    @media screen and (max-width: 767px) {
        font-size: 36px;
        line-height: 36px;
    }
}

h3 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;

    @media screen and (max-width: 996px) {
        font-size: 36px;
        line-height: 36px;
    }
}

h4 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;

    @media screen and (max-width: 996px) {
        font-size: 21px;
        line-height: 24px;
    }
}

h5 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    @media screen and (max-width: 996px) {
        font-size: 18px;
        line-height: 20px
    }
}

p {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

header {
    background-color: $accentsec;
    padding: 30px;

    align-items: center;

    .navigation {
        ul {
            display: flex;
            justify-content: center;
            margin-bottom: 0;

            li {
                margin: 0 16px;

                a {
                    font-family: 'Bricolage Grotesque', sans-serif;
                    color: $white-text;
                    text-decoration: none;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                }
            }
        }
    }

    .login-btn {
        padding: 16px 40px;
    }
}

.first-section {
    position: relative;
    box-sizing: border-box;

    .left-side {
        img {
            width: 100%;
            max-height: calc(100vh - 118px);
            object-fit: cover;
            object-position: 50% 27%;
        }
    }

    .right-side {

        @media screen and (max-width: 991px) {
            position: absolute;
            background: rgba(255, 255, 255, .8);
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
        }

        @media screen and (max-width: 767px) {
            padding: 20px;
        }

        h1 {
            color: $accentsec;

            span {
                color: $accent;
            }
        }

        p {
            margin-top: 24px;
        }

        .buttons {
            display: flex;
            margin-top: 50px;

            a {
                display: block;

                font-family: 'Bricolage Grotesque', sans-serif;
                font-size: 21px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;

                &.st-btn-accent-2 {
                    margin-left: 20px;
                }
            }
        }

        .client-joined {
            display: flex;
            justify-content: flex-start;
            margin-top: 60px;

            @media (max-width: 376px) {
                display: none;
            }

            .avatars {
                img {
                    margin-left: -30px;

                    @media screen and (max-width: 996px) {
                        max-width: 56px;
                    }

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            .clients-count {
                margin-left: 20px;

                h3 {
                    color: $accentsec;
                }

                span {
                    font-family: 'Mulish', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                }
            }
        }
    }
}

.second-section {
    margin-bottom: 80px;
    box-sizing: border-box;

    h2 {
        max-width: 746px;
        margin: 80px auto 0;

        text-align: center;
        color: $accentsec;

        span {
            color: $accent;
        }
    }

    p {
        max-width: 746px;
        margin: 24px auto;

        text-align: center;
    }

    .statistic {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-top: 56px;
        box-sizing: border-box;

        img {
            width: 100%;
        }

        .info {
            background-color: $accentsec;

            .stat-item {
                margin: 40px 0;

                border-left: 1px solid #fff;
                border-right: 1px solid #fff;

                h3 {
                    color: $white-text;
                    text-align: center;

                    span {
                        color: $accent;
                        line-height: 50px;
                    }
                }

                p {
                    margin: 0;

                    color: $white-text;
                }

                &:first-child {
                    border-left: none;
                }

                &:last-child {
                    border-right: none;
                }

                @media (max-width: 767px) {
                    &:nth-child(2) {
                        border-right: 0;
                    }

                    &:nth-child(3) {
                        border-left: 0;
                    }
                }
            }
        }
    }
}

.third-section {
    margin: 80px auto;
    box-sizing: border-box;

    .left-side {
        h2 {
            color: $accentsec;
            margin-bottom: 24px;

            span {
                color: $accent;
            }
        }

        p {
            color: #525252;
        }

        ul {
            margin-top: 80px;

            li {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                position: relative;
                padding-left: 100px;
                margin-top: 40px;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 80px;
                    width: 80px;
                    background-image: url('../images/success.svg');
                    left: 0;
                }

                h4 {
                    color: $accentsec;
                }

                p {
                    margin: 8px 0;
                }

                a {
                    margin-top: 16px;
                    color: $accent;
                }
            }
        }
    }

    .right-side {

        img {
            width: 100%;
            border-radius: 16px;
        }
    }
}

.forth-section {
    margin: 80px auto;
    box-sizing: border-box;

    h2 {
        max-width: 746px;
        width: 100%;
        margin: 0 auto 24px;

        color: $accentsec;
        text-align: center;

        span {
            color: $accent;
            text-align: center;
        }
    }

    p {
        max-width: 746px;
        width: 100%;
        margin: 0 auto 24px;

        color: #525252;
        text-align: center;
    }

    .service-card {
        max-width: 562px;
        margin: 20px 0;
        padding: 40px 24px 40px 72px;
        position: relative;

        border-radius: 16px;
        box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);

        @media screen and (max-width: 680px) {
            max-width: 400px;
        }

        @media screen and (max-width: 480px) {
            max-width: 300px;
        }

        h4 {
            display: inline;

            @media screen and (max-width: 480px) {
                text-align: right;
            }
        }

        p {
            text-align: left;
        }

        .card-image {
            position: absolute;
            left: -30px;
        }
    }
}

.fifth-section {
    margin: 80px auto;
    box-sizing: border-box;

    h2 {
        max-width: 625px;
        width: 100%;
        margin: 0 auto 24px;

        color: $accentsec;
        text-align: center;

        span {
            color: $accent;
            text-align: center;
        }
    }

    p {
        max-width: 625px;
        width: 100%;
        margin: 0 auto 24px;

        color: #525252;
        text-align: center;
    }

    .plan-cards {
        margin-top: 60px;

        .plan-card {
            max-width: 466px;
            margin: 20px 0;

            .card-heading {
                max-width: 75%;
                margin: 0 auto;
                padding: 16px 0;

                border-top-left-radius: 24px;
                border-top-right-radius: 24px;

                p {
                    margin: 0;

                    font-size: 21px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    color: $white-text;
                }
            }

            .card-body {
                padding: 40px;
                border-radius: 24px;
                position: relative;

                .top-part {
                    position: relative;
                    padding-bottom: 40px;

                    h4,
                    h2,
                    p {
                        color: $white-text;
                        text-align: left;
                    }

                    h2 {
                        margin: 16px 0;
                    }

                    p {
                        margin-bottom: 0px;
                    }

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: -40px;
                        bottom: 0;

                        width: calc(100% + 80px);
                        height: 1px;

                        background-color: $white-text;
                    }
                }

                ul {
                    margin-top: 20px;

                    li {
                        @extend p;
                        display: flex;

                        text-align: left;
                        margin: 0;
                        color: $white-text;
                        padding: 10px 0;
                        border-bottom: 1px solid #ffffff;

                        &::before {
                            content: '';
                            display: block;
                            background: url('../images/list-chevron.svg');
                            width: 24px;
                            height: 24px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            margin-right: 10px;
                        }
                    }
                }
            }

            &.standard {

                .card-heading {
                    background-color: $accent;
                }

                .card-body {
                    background-color: $accentsec;
                }
            }

            &.premium {

                .card-heading {
                    background-color: $accentsec;
                }

                .card-body {
                    background-color: $accent;
                }
            }
        }
    }
}

.six-section {
    margin: 80px auto;
    box-sizing: border-box;

    h2 {
        max-width: 746px;
        width: 100%;
        margin: 0 auto 24px;

        color: $accentsec;
        text-align: center;

        span {
            color: $accent;
            text-align: center;
        }
    }

    p {
        max-width: 746px;
        width: 100%;
        margin: 0 auto 24px;

        color: #525252;
        text-align: center;
    }

    .gallery {
        margin-top: 80px;

        .gallery-item {

            .image {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;

                img {
                    width: 100%;
                }
            }

            .description {
                padding: 40px;
                margin-top: 10px;
                margin-bottom: 10px;

                background-color: $accent;

                border-radius: 16px;

                h4 {
                    color: $white-text;
                    text-align: center;
                }

                p {
                    color: $white-text;
                    text-align: center;
                    margin: 16px 0;
                }

                .link-white {
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}

.seventh-section {
    margin: 80px auto;
    box-sizing: border-box;

    h2 {
        max-width: 746px;
        width: 100%;
        margin: 0 auto 24px;

        color: $accentsec;
        text-align: center;

        span {
            color: $accent;
            text-align: center;
        }
    }

    p {
        max-width: 746px;
        width: 100%;
        margin: 0 auto 24px;

        color: #525252;
        text-align: center;
    }

    .customers {
        .col {
            .customer-item {
                border-radius: 24px;
                box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);
                padding: 24px;
                margin: 20px 0;
                box-sizing: border-box;

                .heading {
                    .avatar {
                        margin-right: 10px;
                    }

                    h5 {
                        margin-bottom: 6px;
                    }
                }

                p {
                    margin-top: 16px;
                    text-align: left;
                }
            }
        }
    }
}

.eigth-section {
    margin: 80px auto;
    box-sizing: border-box;

    h2 {
        max-width: 746px;
        width: 100%;
        margin: 0 auto 24px;

        color: $accentsec;
        text-align: center;

        span {
            color: $accent;
            text-align: center;
        }
    }

    p {
        max-width: 746px;
        width: 100%;
        margin: 0 auto 24px;

        color: #525252;
        text-align: center;
    }

    .news-list {
        margin-top: 60px;

        .post-item {
            margin: 20px 0;

            .thumb {
                width: 100%;
                border-top-right-radius: 24px;
                border-top-left-radius: 24px;
                box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);
            }

            .post-info {
                padding: 24px 16px;
                border-bottom-right-radius: 24px;
                border-bottom-left-radius: 24px;
                box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);

                data {
                    font-family: 'Mulish', sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    color: $accent;
                }

                h4 {
                    color: $accentsec;
                    margin: 16px 0;
                }

                p {
                    text-align: left;
                }

                .link {
                    display: block;
                    margin-top: 16px;
                }
            }
        }
    }
}

.nine-section {
    margin: 80px auto;
    box-sizing: border-box;

    h2 {
        max-width: 746px;
        width: 100%;
        margin: 0 auto 24px;

        color: $accentsec;
        text-align: left;

        span {
            color: $accent;
        }
    }

    p {
        max-width: 746px;
        width: 100%;
        margin: 0 auto 24px;

        color: #525252;
        text-align: left;
    }

    form {
        padding: 80px 40px;
        border-radius: 16px;
        box-shadow: -13px 18px 35px 0px rgba(0, 0, 0, 0.09);

        input {
            @extend p;

            max-width: 232px;
            padding-left: 0;
            margin: 0;
            margin-bottom: 40px;

            border: none;
            outline: none;
            border-bottom: 1px solid #525252;
        }

        textarea {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            min-height: 100px;

            border: none;
            outline: none;
            border-bottom: 1px solid #525252;

            &::placeholder {
                @extend p;

            }
        }

        .st-btn-accent {
            max-width: 100%;
            width: 100%;
            margin-top: 40px;

            color: $white-text;

            border: 2px solid $accent;
            outline: none;

            text-align: center;

            &:hover {
                color: #2FB95D;
            }
        }
    }
}

footer {
    background-color: $accentsec;
    box-sizing: border-box;
    padding: 76px 0;

    @media (max-width: 475px) {
        padding: 40px 0;
    }

    .container {
        box-sizing: border-box;

        @media (max-width: 575px) {
            max-width: 363px;
        }
    }

    .first-block {
        margin: 20px 0;

        @media (max-width: 475px) {
            max-width: 360px;
            margin: 20px 0;
        }

        p {
            color: $white-text;
            margin: 16px 0 32px;
        }

        .socials {
            a {
                max-width: 42px;
                max-height: 42px;
                box-sizing: border-box;

                border: 1px solid #ffffff;
                border-radius: 8px;

                padding: 8px;
                transition: all ease .2s;

                &:hover {
                    background: #fff;
                    transition: all ease .2s;

                    svg {
                        path {
                            stroke: $accent;
                        }
                    }
                }
            }
        }
    }

    .second-block {
        margin: 20px 0;

        @media (max-width: 475px) {
            max-width: 360px;
            margin: 20px 0;
        }

        .footer-nav {
            width: 100%;
            max-width: 116px;

            h5 {
                color: $white-text;
            }

            ul {
                margin-top: 24px;

                li {
                    margin: 8px 0;

                    a {
                        font-family: 'Mulish', sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;
                        color: $white-text;
                        text-decoration: none;
                    }
                }
            }
        }

        .footer-contact {
            max-width: 293px;
            width: 100%;

            h5 {
                color: $white-text;
            }

            ul {
                margin-top: 24px;

                li {
                    display: flex;
                    align-items: center;

                    font-family: 'Mulish', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    color: $white-text;

                    margin: 8px 0;

                    &.email {
                        &::before {
                            content: '';
                            display: inline-block;
                            background: url('../images/letter.svg');
                            width: 100%;
                            max-width: 16px;
                            height: 16px;
                            margin-right: 10px;
                        }
                    }

                    &.location {
                        &::before {
                            content: '';
                            display: inline-block;
                            background: url('../images/marker.svg');
                            width: 100%;
                            max-width: 16px;
                            height: 16px;
                            margin-right: 10px;
                        }
                    }

                    &.phone {
                        &::before {
                            content: '';
                            display: inline-block;
                            background: url('../images/phone.svg');
                            width: 100%;
                            max-width: 16px;
                            height: 16px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    .third-block {
        margin: 20px 0;

        @media (max-width: 475px) {
            max-width: 360px;
        }

        h5 {
            color: $white-text;
        }

        .subscription {
            display: flex;
            justify-content: flex-start;
            margin-top: 40px;


            @media (max-width: 376px) {
                display: none;
            }

            input {
                &[type="email"] {
                    padding: 24px;
                    border: none;
                    outline: none;
                    border-radius: 16px 0px 0px 16px;

                    font-family: 'Mulish', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;

                    @media (max-width: 400px) {
                        padding: 16px;
                    }
                }

                &[type="submit"] {
                    padding: 22px;
                    border: 2px solid $accent;
                    outline: none;
                    border-radius: 0px 16px 16px 0px;
                    background-color: $accent;

                    font-family: 'Mulish', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    color: $white-text;
                    cursor: pointer;
                    transition: all ease .2s;

                    &:hover {
                        background-color: transparent;
                        transition: all ease .2s;
                    }

                }
            }
        }
    }
}