html,
body {
  overflow-x: hidden;
}

.st-btn, .st-btn-white, .st-btn-accent-2, .st-btn-accent {
  padding: 16px;
  border-radius: 100px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  text-decoration: none;
}
.st-btn-accent {
  background-color: #2FB95D;
  color: #ffffff;
  border: 2px solid #2FB95D;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.st-btn-accent:hover {
  background-color: transparent;
  color: #2FB95D;
  border: 2px solid #2FB95D;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.st-btn-accent-2 {
  background-color: #043A3A;
  color: #ffffff;
  border: 2px solid #043A3A;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.st-btn-accent-2:hover {
  background-color: transparent;
  color: #043A3A;
  border: 2px solid #043A3A;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.st-btn-white {
  position: relative;
  background: none;
  mix-blend-mode: screen;
  width: 100%;
  border: 2px solid transparent;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  cursor: pointer;
}
.st-btn-white::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  border-radius: 100px;
  content: "";
  mix-blend-mode: color-burn;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.st-btn-white:hover {
  color: #ffffff;
  border: 2px solid white;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.st-btn-white:hover::before {
  background: none;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.link, .link-white {
  font-family: "Mulish", sans-serif;
  color: #2FB95D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
}
.link-white {
  color: #ffffff;
}

h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 110px;
}
@media screen and (max-width: 1270px) {
  h1 {
    font-size: 72px;
    line-height: 69px;
  }
}
@media screen and (max-width: 996px) {
  h1 {
    font-size: 55px;
    line-height: 69px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 42px;
    line-height: 44px;
  }
}

h2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
}
@media screen and (max-width: 996px) {
  h2 {
    font-size: 50px;
    line-height: 60px;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 36px;
    line-height: 36px;
  }
}

h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
@media screen and (max-width: 996px) {
  h3 {
    font-size: 36px;
    line-height: 36px;
  }
}

h4 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
@media screen and (max-width: 996px) {
  h4 {
    font-size: 21px;
    line-height: 24px;
  }
}

h5 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
@media screen and (max-width: 996px) {
  h5 {
    font-size: 18px;
    line-height: 20px;
  }
}

.nine-section form textarea::-webkit-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.nine-section form textarea::-moz-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.nine-section form textarea:-ms-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.nine-section form textarea::-ms-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

p, .nine-section form textarea::placeholder, .nine-section form input, .fifth-section .plan-cards .plan-card .card-body ul li {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

header {
  background-color: #043A3A;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}
header .navigation ul li {
  margin: 0 16px;
}
header .navigation ul li a {
  font-family: "Bricolage Grotesque", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
header .login-btn {
  padding: 16px 40px;
}

.first-section {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.first-section .left-side img {
  width: 100%;
  max-height: calc(100vh - 118px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 27%;
     object-position: 50% 27%;
}
@media screen and (max-width: 991px) {
  .first-section .right-side {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .first-section .right-side {
    padding: 20px;
  }
}
.first-section .right-side h1 {
  color: #043A3A;
}
.first-section .right-side h1 span {
  color: #2FB95D;
}
.first-section .right-side .nine-section form textarea::-webkit-input-placeholder, .nine-section form .first-section .right-side textarea::-webkit-input-placeholder {
  margin-top: 24px;
}
.first-section .right-side .nine-section form textarea::-moz-placeholder, .nine-section form .first-section .right-side textarea::-moz-placeholder {
  margin-top: 24px;
}
.first-section .right-side .nine-section form textarea:-ms-input-placeholder, .nine-section form .first-section .right-side textarea:-ms-input-placeholder {
  margin-top: 24px;
}
.first-section .right-side .nine-section form textarea::-ms-input-placeholder, .nine-section form .first-section .right-side textarea::-ms-input-placeholder {
  margin-top: 24px;
}
.first-section .right-side p, .first-section .right-side .nine-section form textarea::placeholder, .nine-section form .first-section .right-side textarea::placeholder, .first-section .right-side .nine-section form input, .nine-section form .first-section .right-side input, .first-section .right-side .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .first-section .right-side li {
  margin-top: 24px;
}
.first-section .right-side .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.first-section .right-side .buttons a {
  display: block;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.first-section .right-side .buttons a.st-btn-accent-2 {
  margin-left: 20px;
}
.first-section .right-side .client-joined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 60px;
}
@media (max-width: 376px) {
  .first-section .right-side .client-joined {
    display: none;
  }
}
.first-section .right-side .client-joined .avatars img {
  margin-left: -30px;
}
@media screen and (max-width: 996px) {
  .first-section .right-side .client-joined .avatars img {
    max-width: 56px;
  }
}
.first-section .right-side .client-joined .avatars img:first-child {
  margin-left: 0;
}
.first-section .right-side .client-joined .clients-count {
  margin-left: 20px;
}
.first-section .right-side .client-joined .clients-count h3 {
  color: #043A3A;
}
.first-section .right-side .client-joined .clients-count span {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.second-section {
  margin-bottom: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.second-section h2 {
  max-width: 746px;
  margin: 80px auto 0;
  text-align: center;
  color: #043A3A;
}
.second-section h2 span {
  color: #2FB95D;
}
.second-section .nine-section form textarea::-webkit-input-placeholder, .nine-section form .second-section textarea::-webkit-input-placeholder {
  max-width: 746px;
  margin: 24px auto;
  text-align: center;
}
.second-section .nine-section form textarea::-moz-placeholder, .nine-section form .second-section textarea::-moz-placeholder {
  max-width: 746px;
  margin: 24px auto;
  text-align: center;
}
.second-section .nine-section form textarea:-ms-input-placeholder, .nine-section form .second-section textarea:-ms-input-placeholder {
  max-width: 746px;
  margin: 24px auto;
  text-align: center;
}
.second-section .nine-section form textarea::-ms-input-placeholder, .nine-section form .second-section textarea::-ms-input-placeholder {
  max-width: 746px;
  margin: 24px auto;
  text-align: center;
}
.second-section p, .second-section .nine-section form textarea::placeholder, .nine-section form .second-section textarea::placeholder, .second-section .nine-section form input, .nine-section form .second-section input, .second-section .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .second-section li {
  max-width: 746px;
  margin: 24px auto;
  text-align: center;
}
.second-section .statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.second-section .statistic img {
  width: 100%;
}
.second-section .statistic .info {
  background-color: #043A3A;
}
.second-section .statistic .info .stat-item {
  margin: 40px 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.second-section .statistic .info .stat-item h3 {
  color: #ffffff;
  text-align: center;
}
.second-section .statistic .info .stat-item h3 span {
  color: #2FB95D;
  line-height: 50px;
}
.second-section .statistic .info .stat-item .nine-section form textarea::-webkit-input-placeholder, .nine-section form .second-section .statistic .info .stat-item textarea::-webkit-input-placeholder {
  margin: 0;
  color: #ffffff;
}
.second-section .statistic .info .stat-item .nine-section form textarea::-moz-placeholder, .nine-section form .second-section .statistic .info .stat-item textarea::-moz-placeholder {
  margin: 0;
  color: #ffffff;
}
.second-section .statistic .info .stat-item .nine-section form textarea:-ms-input-placeholder, .nine-section form .second-section .statistic .info .stat-item textarea:-ms-input-placeholder {
  margin: 0;
  color: #ffffff;
}
.second-section .statistic .info .stat-item .nine-section form textarea::-ms-input-placeholder, .nine-section form .second-section .statistic .info .stat-item textarea::-ms-input-placeholder {
  margin: 0;
  color: #ffffff;
}
.second-section .statistic .info .stat-item p, .second-section .statistic .info .stat-item .nine-section form textarea::placeholder, .nine-section form .second-section .statistic .info .stat-item textarea::placeholder, .second-section .statistic .info .stat-item .nine-section form input, .nine-section form .second-section .statistic .info .stat-item input, .second-section .statistic .info .stat-item .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .second-section .statistic .info .stat-item li {
  margin: 0;
  color: #ffffff;
}
.second-section .statistic .info .stat-item:first-child {
  border-left: none;
}
.second-section .statistic .info .stat-item:last-child {
  border-right: none;
}
@media (max-width: 767px) {
  .second-section .statistic .info .stat-item:nth-child(2) {
    border-right: 0;
  }
  .second-section .statistic .info .stat-item:nth-child(3) {
    border-left: 0;
  }
}

.third-section {
  margin: 80px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.third-section .left-side h2 {
  color: #043A3A;
  margin-bottom: 24px;
}
.third-section .left-side h2 span {
  color: #2FB95D;
}
.third-section .left-side .nine-section form textarea::-webkit-input-placeholder, .nine-section form .third-section .left-side textarea::-webkit-input-placeholder {
  color: #525252;
}
.third-section .left-side .nine-section form textarea::-moz-placeholder, .nine-section form .third-section .left-side textarea::-moz-placeholder {
  color: #525252;
}
.third-section .left-side .nine-section form textarea:-ms-input-placeholder, .nine-section form .third-section .left-side textarea:-ms-input-placeholder {
  color: #525252;
}
.third-section .left-side .nine-section form textarea::-ms-input-placeholder, .nine-section form .third-section .left-side textarea::-ms-input-placeholder {
  color: #525252;
}
.third-section .left-side p, .third-section .left-side .nine-section form textarea::placeholder, .nine-section form .third-section .left-side textarea::placeholder, .third-section .left-side .nine-section form input, .nine-section form .third-section .left-side input, .third-section .left-side .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .third-section .left-side li {
  color: #525252;
}
.third-section .left-side ul {
  margin-top: 80px;
}
.third-section .left-side ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-left: 100px;
  margin-top: 40px;
}
.third-section .left-side ul li::before {
  content: "";
  display: block;
  position: absolute;
  height: 80px;
  width: 80px;
  background-image: url("../images/success.svg");
  left: 0;
}
.third-section .left-side ul li h4 {
  color: #043A3A;
}
.third-section .left-side ul li .nine-section form textarea::-webkit-input-placeholder, .nine-section form .third-section .left-side ul li textarea::-webkit-input-placeholder {
  margin: 8px 0;
}
.third-section .left-side ul li .nine-section form textarea::-moz-placeholder, .nine-section form .third-section .left-side ul li textarea::-moz-placeholder {
  margin: 8px 0;
}
.third-section .left-side ul li .nine-section form textarea:-ms-input-placeholder, .nine-section form .third-section .left-side ul li textarea:-ms-input-placeholder {
  margin: 8px 0;
}
.third-section .left-side ul li .nine-section form textarea::-ms-input-placeholder, .nine-section form .third-section .left-side ul li textarea::-ms-input-placeholder {
  margin: 8px 0;
}
.third-section .left-side ul li p, .third-section .left-side ul li .nine-section form textarea::placeholder, .nine-section form .third-section .left-side ul li textarea::placeholder, .third-section .left-side ul li .nine-section form input, .nine-section form .third-section .left-side ul li input, .third-section .left-side .fifth-section .plan-cards .plan-card .card-body ul li li, .fifth-section .plan-cards .plan-card .card-body .third-section .left-side ul li li {
  margin: 8px 0;
}
.third-section .left-side ul li a {
  margin-top: 16px;
  color: #2FB95D;
}
.third-section .right-side img {
  width: 100%;
  border-radius: 16px;
}

.forth-section {
  margin: 80px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.forth-section h2 {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #043A3A;
  text-align: center;
}
.forth-section h2 span {
  color: #2FB95D;
  text-align: center;
}
.forth-section .nine-section form textarea::-webkit-input-placeholder, .nine-section form .forth-section textarea::-webkit-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.forth-section .nine-section form textarea::-moz-placeholder, .nine-section form .forth-section textarea::-moz-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.forth-section .nine-section form textarea:-ms-input-placeholder, .nine-section form .forth-section textarea:-ms-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.forth-section .nine-section form textarea::-ms-input-placeholder, .nine-section form .forth-section textarea::-ms-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.forth-section p, .forth-section .nine-section form textarea::placeholder, .nine-section form .forth-section textarea::placeholder, .forth-section .nine-section form input, .nine-section form .forth-section input, .forth-section .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .forth-section li {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.forth-section .service-card {
  max-width: 562px;
  margin: 20px 0;
  padding: 40px 24px 40px 72px;
  position: relative;
  border-radius: 16px;
  -webkit-box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);
}
@media screen and (max-width: 680px) {
  .forth-section .service-card {
    max-width: 400px;
  }
}
@media screen and (max-width: 480px) {
  .forth-section .service-card {
    max-width: 300px;
  }
}
.forth-section .service-card h4 {
  display: inline;
}
@media screen and (max-width: 480px) {
  .forth-section .service-card h4 {
    text-align: right;
  }
}
.forth-section .service-card .nine-section form textarea::-webkit-input-placeholder, .nine-section form .forth-section .service-card textarea::-webkit-input-placeholder {
  text-align: left;
}
.forth-section .service-card .nine-section form textarea::-moz-placeholder, .nine-section form .forth-section .service-card textarea::-moz-placeholder {
  text-align: left;
}
.forth-section .service-card .nine-section form textarea:-ms-input-placeholder, .nine-section form .forth-section .service-card textarea:-ms-input-placeholder {
  text-align: left;
}
.forth-section .service-card .nine-section form textarea::-ms-input-placeholder, .nine-section form .forth-section .service-card textarea::-ms-input-placeholder {
  text-align: left;
}
.forth-section .service-card p, .forth-section .service-card .nine-section form textarea::placeholder, .nine-section form .forth-section .service-card textarea::placeholder, .forth-section .service-card .nine-section form input, .nine-section form .forth-section .service-card input, .forth-section .service-card .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .forth-section .service-card li {
  text-align: left;
}
.forth-section .service-card .card-image {
  position: absolute;
  left: -30px;
}

.fifth-section {
  margin: 80px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.fifth-section h2 {
  max-width: 625px;
  width: 100%;
  margin: 0 auto 24px;
  color: #043A3A;
  text-align: center;
}
.fifth-section h2 span {
  color: #2FB95D;
  text-align: center;
}
.fifth-section .nine-section form textarea::-webkit-input-placeholder, .nine-section form .fifth-section textarea::-webkit-input-placeholder {
  max-width: 625px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.fifth-section .nine-section form textarea::-moz-placeholder, .nine-section form .fifth-section textarea::-moz-placeholder {
  max-width: 625px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.fifth-section .nine-section form textarea:-ms-input-placeholder, .nine-section form .fifth-section textarea:-ms-input-placeholder {
  max-width: 625px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.fifth-section .nine-section form textarea::-ms-input-placeholder, .nine-section form .fifth-section textarea::-ms-input-placeholder {
  max-width: 625px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.fifth-section p, .fifth-section .nine-section form textarea::placeholder, .nine-section form .fifth-section textarea::placeholder, .fifth-section .nine-section form input, .nine-section form .fifth-section input, .fifth-section .plan-cards .plan-card .card-body ul li {
  max-width: 625px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.fifth-section .plan-cards {
  margin-top: 60px;
}
.fifth-section .plan-cards .plan-card {
  max-width: 466px;
  margin: 20px 0;
}
.fifth-section .plan-cards .plan-card .card-heading {
  max-width: 75%;
  margin: 0 auto;
  padding: 16px 0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.fifth-section .plan-cards .plan-card .card-heading .nine-section form textarea::-webkit-input-placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-heading textarea::-webkit-input-placeholder {
  margin: 0;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
}
.fifth-section .plan-cards .plan-card .card-heading .nine-section form textarea::-moz-placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-heading textarea::-moz-placeholder {
  margin: 0;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
}
.fifth-section .plan-cards .plan-card .card-heading .nine-section form textarea:-ms-input-placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-heading textarea:-ms-input-placeholder {
  margin: 0;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
}
.fifth-section .plan-cards .plan-card .card-heading .nine-section form textarea::-ms-input-placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-heading textarea::-ms-input-placeholder {
  margin: 0;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
}
.fifth-section .plan-cards .plan-card .card-heading p, .fifth-section .plan-cards .plan-card .card-heading .nine-section form textarea::placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-heading textarea::placeholder, .fifth-section .plan-cards .plan-card .card-heading .nine-section form input, .nine-section form .fifth-section .plan-cards .plan-card .card-heading input, .fifth-section .plan-cards .plan-card .card-heading .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .card-heading li {
  margin: 0;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
}
.fifth-section .plan-cards .plan-card .card-body {
  padding: 40px;
  border-radius: 24px;
  position: relative;
}
.fifth-section .plan-cards .plan-card .card-body .top-part {
  position: relative;
  padding-bottom: 40px;
}
.fifth-section .plan-cards .plan-card .card-body .top-part .nine-section form textarea::-webkit-input-placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-body .top-part textarea::-webkit-input-placeholder {
  color: #ffffff;
  text-align: left;
}
.fifth-section .plan-cards .plan-card .card-body .top-part .nine-section form textarea::-moz-placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-body .top-part textarea::-moz-placeholder {
  color: #ffffff;
  text-align: left;
}
.fifth-section .plan-cards .plan-card .card-body .top-part .nine-section form textarea:-ms-input-placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-body .top-part textarea:-ms-input-placeholder {
  color: #ffffff;
  text-align: left;
}
.fifth-section .plan-cards .plan-card .card-body .top-part .nine-section form textarea::-ms-input-placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-body .top-part textarea::-ms-input-placeholder {
  color: #ffffff;
  text-align: left;
}
.fifth-section .plan-cards .plan-card .card-body .top-part h4,
.fifth-section .plan-cards .plan-card .card-body .top-part h2,
.fifth-section .plan-cards .plan-card .card-body .top-part p,
.fifth-section .plan-cards .plan-card .card-body .top-part .nine-section form textarea::placeholder,
.nine-section form .fifth-section .plan-cards .plan-card .card-body .top-part textarea::placeholder,
.fifth-section .plan-cards .plan-card .card-body .top-part .nine-section form input,
.nine-section form .fifth-section .plan-cards .plan-card .card-body .top-part input,
.fifth-section .plan-cards .plan-card .card-body .top-part ul li,
.fifth-section .plan-cards .plan-card .card-body ul .top-part li {
  color: #ffffff;
  text-align: left;
}
.fifth-section .plan-cards .plan-card .card-body .top-part h2 {
  margin: 16px 0;
}
.fifth-section .plan-cards .plan-card .card-body .top-part .nine-section form textarea::-webkit-input-placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-body .top-part textarea::-webkit-input-placeholder {
  margin-bottom: 0px;
}
.fifth-section .plan-cards .plan-card .card-body .top-part .nine-section form textarea::-moz-placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-body .top-part textarea::-moz-placeholder {
  margin-bottom: 0px;
}
.fifth-section .plan-cards .plan-card .card-body .top-part .nine-section form textarea:-ms-input-placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-body .top-part textarea:-ms-input-placeholder {
  margin-bottom: 0px;
}
.fifth-section .plan-cards .plan-card .card-body .top-part .nine-section form textarea::-ms-input-placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-body .top-part textarea::-ms-input-placeholder {
  margin-bottom: 0px;
}
.fifth-section .plan-cards .plan-card .card-body .top-part p, .fifth-section .plan-cards .plan-card .card-body .top-part .nine-section form textarea::placeholder, .nine-section form .fifth-section .plan-cards .plan-card .card-body .top-part textarea::placeholder, .fifth-section .plan-cards .plan-card .card-body .top-part .nine-section form input, .nine-section form .fifth-section .plan-cards .plan-card .card-body .top-part input, .fifth-section .plan-cards .plan-card .card-body .top-part ul li, .fifth-section .plan-cards .plan-card .card-body ul .top-part li {
  margin-bottom: 0px;
}
.fifth-section .plan-cards .plan-card .card-body .top-part::after {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  bottom: 0;
  width: calc(100% + 80px);
  height: 1px;
  background-color: #ffffff;
}
.fifth-section .plan-cards .plan-card .card-body ul {
  margin-top: 20px;
}
.fifth-section .plan-cards .plan-card .card-body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: 0;
  color: #ffffff;
  padding: 10px 0;
  border-bottom: 1px solid #ffffff;
}
.fifth-section .plan-cards .plan-card .card-body ul li::before {
  content: "";
  display: block;
  background: url("../images/list-chevron.svg");
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
.fifth-section .plan-cards .plan-card.standard .card-heading {
  background-color: #2FB95D;
}
.fifth-section .plan-cards .plan-card.standard .card-body {
  background-color: #043A3A;
}
.fifth-section .plan-cards .plan-card.premium .card-heading {
  background-color: #043A3A;
}
.fifth-section .plan-cards .plan-card.premium .card-body {
  background-color: #2FB95D;
}

.six-section {
  margin: 80px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.six-section h2 {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #043A3A;
  text-align: center;
}
.six-section h2 span {
  color: #2FB95D;
  text-align: center;
}
.six-section .nine-section form textarea::-webkit-input-placeholder, .nine-section form .six-section textarea::-webkit-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.six-section .nine-section form textarea::-moz-placeholder, .nine-section form .six-section textarea::-moz-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.six-section .nine-section form textarea:-ms-input-placeholder, .nine-section form .six-section textarea:-ms-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.six-section .nine-section form textarea::-ms-input-placeholder, .nine-section form .six-section textarea::-ms-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.six-section p, .six-section .nine-section form textarea::placeholder, .nine-section form .six-section textarea::placeholder, .six-section .nine-section form input, .nine-section form .six-section input, .six-section .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .six-section li {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.six-section .gallery {
  margin-top: 80px;
}
.six-section .gallery .gallery-item .image {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.six-section .gallery .gallery-item .image img {
  width: 100%;
}
.six-section .gallery .gallery-item .description {
  padding: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #2FB95D;
  border-radius: 16px;
}
.six-section .gallery .gallery-item .description h4 {
  color: #ffffff;
  text-align: center;
}
.six-section .gallery .gallery-item .description .nine-section form textarea::-webkit-input-placeholder, .nine-section form .six-section .gallery .gallery-item .description textarea::-webkit-input-placeholder {
  color: #ffffff;
  text-align: center;
  margin: 16px 0;
}
.six-section .gallery .gallery-item .description .nine-section form textarea::-moz-placeholder, .nine-section form .six-section .gallery .gallery-item .description textarea::-moz-placeholder {
  color: #ffffff;
  text-align: center;
  margin: 16px 0;
}
.six-section .gallery .gallery-item .description .nine-section form textarea:-ms-input-placeholder, .nine-section form .six-section .gallery .gallery-item .description textarea:-ms-input-placeholder {
  color: #ffffff;
  text-align: center;
  margin: 16px 0;
}
.six-section .gallery .gallery-item .description .nine-section form textarea::-ms-input-placeholder, .nine-section form .six-section .gallery .gallery-item .description textarea::-ms-input-placeholder {
  color: #ffffff;
  text-align: center;
  margin: 16px 0;
}
.six-section .gallery .gallery-item .description p, .six-section .gallery .gallery-item .description .nine-section form textarea::placeholder, .nine-section form .six-section .gallery .gallery-item .description textarea::placeholder, .six-section .gallery .gallery-item .description .nine-section form input, .nine-section form .six-section .gallery .gallery-item .description input, .six-section .gallery .gallery-item .description .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .six-section .gallery .gallery-item .description li {
  color: #ffffff;
  text-align: center;
  margin: 16px 0;
}
.six-section .gallery .gallery-item .description .link-white {
  display: block;
  text-align: center;
}

.seventh-section {
  margin: 80px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.seventh-section h2 {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #043A3A;
  text-align: center;
}
.seventh-section h2 span {
  color: #2FB95D;
  text-align: center;
}
.seventh-section .nine-section form textarea::-webkit-input-placeholder, .nine-section form .seventh-section textarea::-webkit-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.seventh-section .nine-section form textarea::-moz-placeholder, .nine-section form .seventh-section textarea::-moz-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.seventh-section .nine-section form textarea:-ms-input-placeholder, .nine-section form .seventh-section textarea:-ms-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.seventh-section .nine-section form textarea::-ms-input-placeholder, .nine-section form .seventh-section textarea::-ms-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.seventh-section p, .seventh-section .nine-section form textarea::placeholder, .nine-section form .seventh-section textarea::placeholder, .seventh-section .nine-section form input, .nine-section form .seventh-section input, .seventh-section .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .seventh-section li {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.seventh-section .customers .col .customer-item {
  border-radius: 24px;
  -webkit-box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);
  padding: 24px;
  margin: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.seventh-section .customers .col .customer-item .heading .avatar {
  margin-right: 10px;
}
.seventh-section .customers .col .customer-item .heading h5 {
  margin-bottom: 6px;
}
.seventh-section .customers .col .customer-item .nine-section form textarea::-webkit-input-placeholder, .nine-section form .seventh-section .customers .col .customer-item textarea::-webkit-input-placeholder {
  margin-top: 16px;
  text-align: left;
}
.seventh-section .customers .col .customer-item .nine-section form textarea::-moz-placeholder, .nine-section form .seventh-section .customers .col .customer-item textarea::-moz-placeholder {
  margin-top: 16px;
  text-align: left;
}
.seventh-section .customers .col .customer-item .nine-section form textarea:-ms-input-placeholder, .nine-section form .seventh-section .customers .col .customer-item textarea:-ms-input-placeholder {
  margin-top: 16px;
  text-align: left;
}
.seventh-section .customers .col .customer-item .nine-section form textarea::-ms-input-placeholder, .nine-section form .seventh-section .customers .col .customer-item textarea::-ms-input-placeholder {
  margin-top: 16px;
  text-align: left;
}
.seventh-section .customers .col .customer-item p, .seventh-section .customers .col .customer-item .nine-section form textarea::placeholder, .nine-section form .seventh-section .customers .col .customer-item textarea::placeholder, .seventh-section .customers .col .customer-item .nine-section form input, .nine-section form .seventh-section .customers .col .customer-item input, .seventh-section .customers .col .customer-item .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .seventh-section .customers .col .customer-item li {
  margin-top: 16px;
  text-align: left;
}

.eigth-section {
  margin: 80px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.eigth-section h2 {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #043A3A;
  text-align: center;
}
.eigth-section h2 span {
  color: #2FB95D;
  text-align: center;
}
.eigth-section .nine-section form textarea::-webkit-input-placeholder, .nine-section form .eigth-section textarea::-webkit-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.eigth-section .nine-section form textarea::-moz-placeholder, .nine-section form .eigth-section textarea::-moz-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.eigth-section .nine-section form textarea:-ms-input-placeholder, .nine-section form .eigth-section textarea:-ms-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.eigth-section .nine-section form textarea::-ms-input-placeholder, .nine-section form .eigth-section textarea::-ms-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.eigth-section p, .eigth-section .nine-section form textarea::placeholder, .nine-section form .eigth-section textarea::placeholder, .eigth-section .nine-section form input, .nine-section form .eigth-section input, .eigth-section .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .eigth-section li {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: center;
}
.eigth-section .news-list {
  margin-top: 60px;
}
.eigth-section .news-list .post-item {
  margin: 20px 0;
}
.eigth-section .news-list .post-item .thumb {
  width: 100%;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  -webkit-box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);
}
.eigth-section .news-list .post-item .post-info {
  padding: 24px 16px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  -webkit-box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 18px 15px 35px 0px rgba(0, 0, 0, 0.09);
}
.eigth-section .news-list .post-item .post-info data {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #2FB95D;
}
.eigth-section .news-list .post-item .post-info h4 {
  color: #043A3A;
  margin: 16px 0;
}
.eigth-section .news-list .post-item .post-info .nine-section form textarea::-webkit-input-placeholder, .nine-section form .eigth-section .news-list .post-item .post-info textarea::-webkit-input-placeholder {
  text-align: left;
}
.eigth-section .news-list .post-item .post-info .nine-section form textarea::-moz-placeholder, .nine-section form .eigth-section .news-list .post-item .post-info textarea::-moz-placeholder {
  text-align: left;
}
.eigth-section .news-list .post-item .post-info .nine-section form textarea:-ms-input-placeholder, .nine-section form .eigth-section .news-list .post-item .post-info textarea:-ms-input-placeholder {
  text-align: left;
}
.eigth-section .news-list .post-item .post-info .nine-section form textarea::-ms-input-placeholder, .nine-section form .eigth-section .news-list .post-item .post-info textarea::-ms-input-placeholder {
  text-align: left;
}
.eigth-section .news-list .post-item .post-info p, .eigth-section .news-list .post-item .post-info .nine-section form textarea::placeholder, .nine-section form .eigth-section .news-list .post-item .post-info textarea::placeholder, .eigth-section .news-list .post-item .post-info .nine-section form input, .nine-section form .eigth-section .news-list .post-item .post-info input, .eigth-section .news-list .post-item .post-info .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .eigth-section .news-list .post-item .post-info li {
  text-align: left;
}
.eigth-section .news-list .post-item .post-info .link, .eigth-section .news-list .post-item .post-info .link-white {
  display: block;
  margin-top: 16px;
}

.nine-section {
  margin: 80px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.nine-section h2 {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #043A3A;
  text-align: left;
}
.nine-section h2 span {
  color: #2FB95D;
}
.nine-section form textarea::-webkit-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: left;
}
.nine-section form textarea::-moz-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: left;
}
.nine-section form textarea:-ms-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: left;
}
.nine-section form textarea::-ms-input-placeholder {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: left;
}
.nine-section p, .nine-section form textarea::placeholder, .nine-section form input, .nine-section .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul .nine-section li {
  max-width: 746px;
  width: 100%;
  margin: 0 auto 24px;
  color: #525252;
  text-align: left;
}
.nine-section form {
  padding: 80px 40px;
  border-radius: 16px;
  -webkit-box-shadow: -13px 18px 35px 0px rgba(0, 0, 0, 0.09);
          box-shadow: -13px 18px 35px 0px rgba(0, 0, 0, 0.09);
}
.nine-section form input {
  max-width: 232px;
  padding-left: 0;
  margin: 0;
  margin-bottom: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid #525252;
}
.nine-section form textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  border: none;
  outline: none;
  border-bottom: 1px solid #525252;
}
.nine-section form .st-btn-accent {
  max-width: 100%;
  width: 100%;
  margin-top: 40px;
  color: #ffffff;
  border: 2px solid #2FB95D;
  outline: none;
  text-align: center;
}
.nine-section form .st-btn-accent:hover {
  color: #2FB95D;
}

footer {
  background-color: #043A3A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 76px 0;
}
@media (max-width: 475px) {
  footer {
    padding: 40px 0;
  }
}
footer .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 575px) {
  footer .container {
    max-width: 363px;
  }
}
footer .first-block {
  margin: 20px 0;
}
@media (max-width: 475px) {
  footer .first-block {
    max-width: 360px;
    margin: 20px 0;
  }
}
footer .first-block .nine-section form textarea::-webkit-input-placeholder, .nine-section form footer .first-block textarea::-webkit-input-placeholder {
  color: #ffffff;
  margin: 16px 0 32px;
}
footer .first-block .nine-section form textarea::-moz-placeholder, .nine-section form footer .first-block textarea::-moz-placeholder {
  color: #ffffff;
  margin: 16px 0 32px;
}
footer .first-block .nine-section form textarea:-ms-input-placeholder, .nine-section form footer .first-block textarea:-ms-input-placeholder {
  color: #ffffff;
  margin: 16px 0 32px;
}
footer .first-block .nine-section form textarea::-ms-input-placeholder, .nine-section form footer .first-block textarea::-ms-input-placeholder {
  color: #ffffff;
  margin: 16px 0 32px;
}
footer .first-block p, footer .first-block .fifth-section .plan-cards .plan-card .card-body ul li, .fifth-section .plan-cards .plan-card .card-body ul footer .first-block li, footer .first-block .nine-section form input, .nine-section form footer .first-block input, footer .first-block .nine-section form textarea::placeholder, .nine-section form footer .first-block textarea::placeholder {
  color: #ffffff;
  margin: 16px 0 32px;
}
footer .first-block .socials a {
  max-width: 42px;
  max-height: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 8px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
footer .first-block .socials a:hover {
  background: #fff;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
footer .first-block .socials a:hover svg path {
  stroke: #2FB95D;
}
footer .second-block {
  margin: 20px 0;
}
@media (max-width: 475px) {
  footer .second-block {
    max-width: 360px;
    margin: 20px 0;
  }
}
footer .second-block .footer-nav {
  width: 100%;
  max-width: 116px;
}
footer .second-block .footer-nav h5 {
  color: #ffffff;
}
footer .second-block .footer-nav ul {
  margin-top: 24px;
}
footer .second-block .footer-nav ul li {
  margin: 8px 0;
}
footer .second-block .footer-nav ul li a {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
footer .second-block .footer-contact {
  max-width: 293px;
  width: 100%;
}
footer .second-block .footer-contact h5 {
  color: #ffffff;
}
footer .second-block .footer-contact ul {
  margin-top: 24px;
}
footer .second-block .footer-contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  margin: 8px 0;
}
footer .second-block .footer-contact ul li.email::before {
  content: "";
  display: inline-block;
  background: url("../images/letter.svg");
  width: 100%;
  max-width: 16px;
  height: 16px;
  margin-right: 10px;
}
footer .second-block .footer-contact ul li.location::before {
  content: "";
  display: inline-block;
  background: url("../images/marker.svg");
  width: 100%;
  max-width: 16px;
  height: 16px;
  margin-right: 10px;
}
footer .second-block .footer-contact ul li.phone::before {
  content: "";
  display: inline-block;
  background: url("../images/phone.svg");
  width: 100%;
  max-width: 16px;
  height: 16px;
  margin-right: 10px;
}
footer .third-block {
  margin: 20px 0;
}
@media (max-width: 475px) {
  footer .third-block {
    max-width: 360px;
  }
}
footer .third-block h5 {
  color: #ffffff;
}
footer .third-block .subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 40px;
}
@media (max-width: 376px) {
  footer .third-block .subscription {
    display: none;
  }
}
footer .third-block .subscription input[type=email] {
  padding: 24px;
  border: none;
  outline: none;
  border-radius: 16px 0px 0px 16px;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@media (max-width: 400px) {
  footer .third-block .subscription input[type=email] {
    padding: 16px;
  }
}
footer .third-block .subscription input[type=submit] {
  padding: 22px;
  border: 2px solid #2FB95D;
  outline: none;
  border-radius: 0px 16px 16px 0px;
  background-color: #2FB95D;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
footer .third-block .subscription input[type=submit]:hover {
  background-color: transparent;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}